{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}

{% block content %}

<div class="utils">
    <input type="text" id="search" class="form-control" placeholder="Pesquisar...">
    <label id="select-order-label" for="select-order">Ordem</label>
    <select name="" value="Decrecente" id="select-order" onchange="ordenar()">
        <option value="crecente">Crecente</option>
        <option value="decrecente">Decrecente</option>
    </select>
</div>
<ul>
    {% for post in posts_list %}
    
    <li>
        <div class="post-title-container">
            <a style="text-decoration: none;" href="/post/{{post.id}}">
                <span class="post-title">
                    #{{ post.id }} {{ post.title }}
                </span>
            </a>
        </div>
        
    </li>
    
    {% endfor %}

</ul>

<div id="paginacao" >
    <span>

        {% if posts_list.has_previous %}
            <a href="?page={{ posts_list.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a>
        {% endif %}
        <span>
            {% if posts_list.paginator.num_pages %}
            
            {{ posts_list.number }} de {{ posts_list.paginator.num_pages }}
            {%  endif %}
        </span>
        {% if posts_list.has_next %}
            <a href="?page={{ posts_list.next_page_number }}"><i class="fas fa-angle-double-right"></i></a>
        {% endif %}
        
    </span>
</div>


{% endblock content %}