{% extends 'base.html' %}


{% block title %}{{ current_post.title }}{% endblock title %}

{% block menu %}
<nav>
    <ul class="menu" id="ml">
        <li class="menu-item">
            <a class="item-link item-link-active" href="{% url 'blog:home' %}">Home</a>
        </li>
        <li class="menu-item">
            <a class="item-link" href="{% url 'blog:posts' %}">Posts</a>
        </li>
        <li class="menu-item">
            <a class="item-link" href="{% url 'blog:about' %}">Sobre</a>
        </li>
    </ul>
   
</nav>

{% endblock menu %}

{% block content %}
{% if current_post is not None %}

    {% load editor %}
    <div class="post-title-container">
        <span class="post-title">
            #{{ current_post.id }} {{ current_post.title|transform }}
        </span>
    </div>

    <div class="post-content-container pcc-home">
        <div class="post-content">
            <!-- <p>{{ current_post.content }}</p> -->
            <p>
                {{ current_post.content|transform }}
            </p>
        </div>

    </div>
{% else %}
    <div class="info-container">

        <h1>Ainda não há nenhum post publicado</h1>
    </div>
{% endif %}
{% endblock content %}