{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}

{% block content %}


<div class="utils" onload="on_list_posts()">
    <input type="text" id="search" class="form-control" placeholder="Pesquisar...">
    
    {% if is_search %}
        <h4 class="search-res">Resultados para "{{ is_search }}"</h4>
    {% endif %}
</div>

<ul>
    {% for post in posts_list %}
    
    <li>
        <div class="post-title-container">
            <a style="text-decoration: none;" href="/post/{{post.id}}">
                <span class="post-title">
                    #{{ post.id }} {{ post.title }}
                </span>
            </a>
        </div>
        
    </li>
    
    {% endfor %}

</ul>

<div id="paginacao" >
    <span>

        {% if posts_list.has_previous %}
            <a href="?page={{ posts_list.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a>
        {% endif %}
        <span>
            {% if posts_list.paginator.num_pages %}
            
            {{ posts_list.number }} de {{ posts_list.paginator.num_pages }}
            {%  endif %}
        </span>
        {% if posts_list.has_next %}
            <a href="?page={{ posts_list.next_page_number }}"><i class="fas fa-angle-double-right"></i></a>
        {% endif %}
        
    </span>
    <script>
        const input_search = document.getElementById("search");
        input_search.addEventListener("keyup", function (event) {
            var key = event.which || event.keyCode;
            if (key == 13){
                window.location.href = `http://127.0.0.1:8000/posts/?search=${input_search.value}`;
            }
        })
        
    </script>
</div>
{% endblock content %}